body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Light grey background */
}

.game-container {
  padding: 35px;
  text-align: center;
  width: 350px;
  border: 2px solid #000;
  background-color: #fff; /* Keep the container's background white */
}

h1 {
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: bold;
}

p {
  font-size: 20px;
  margin: 20px 0;
}

input {
  padding: 16px;
  width: 90%;
  font-size: 20px;
  border: 2px solid #000;
  margin: 20px 0;
  text-align: center;
}

button {
  padding: 16px 24px;
  font-size: 20px;
  background-color: #f4f4f4;
  color: #333333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

#result {
  font-size: 20px;
  margin-top: 25px;
}

#attempts {
  font-size: 16px;
  margin-top: 14px;
}
